$sans-serif: "Source Sans Pro", Helvetica, sans-serif;
$serif: "Alegreya", Georgia, serif;

$purple: #8a00ff;

// Breakpoint Settings
/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

// Images
$hero-image: "/img/hero/hero-orb.png";
$free-hero-image: "/img/proj/freepeople/free-hero.jpg";