
<div class="row clearfix">
	<div class="full column page-logo-container page-nav">
		<div class="page-logo">
			<a class="hide-for-small" href="/">{% include svg/thyroid-logo-large.svg %}</a>
			<a class="show-for-small" href="/">{% include svg/thyroid-logo-small.svg %}</a>
		</div>
		<ul>
			<!-- <li><a href="#">About</a></li> -->
			<li><a href="http://www.twitch.tv/thyroidgland" target="_blank"><i class="fa fa-twitch fa-lg"></i></a></li>
			<li><a href="http://www.twitter.com/_thyroidgland" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
		</ul>
	</div>
</div>