html {
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
    height: auto;
    min-height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: $sans-serif;
}

img {
    width: 100%;
}

.page-nav {
    background-color: white;
    padding: 2em 1em;
    border-bottom: 1px solid $purple;
    width: 100%;
    .page-logo-container {
        position: relative;
    }
    .page-logo {
        display: inline-block;
        width: 260px;
        height: auto;
    }
    ul {
        display: inline-block;
        padding: 0;
        margin: 0;
        float: right;
        li {
            display: inline-block;
            list-style: none;
            text-align: center;
            padding: 1.5em 0 0px;
            margin-left: 2em;
        }
    }
    a {
        color: $purple;
        text-decoration: none;
        &:hover {
            color: lighten($purple, 20%);
        }
    }
    @media (max-width: 39.9em) {
        padding: 2em 16px;
        .page-logo {
            width: 80px;
        }
        ul {
            float: left;
            li {
                margin-left: 0;
                margin-right: 1.5em;
            }
        }
    }
    @media (min-width: 63.9376em) {
        .page-logo {
            float: left;
            margin: 0;
        }
        ul {
            float: right;
            li {
                display: inline-block;
                margin-left: 2em;
                padding: 1.5em 0 0;
            }
        }
    }
}

#homepage--body {
    .callout {
        color: $purple;
        margin: 2em 0 1em;
        line-height: 1.5;
        a {
            color: $purple;
            text-decoration: underline;
            &:hover {
                color: darken($purple, 20%);
            }
        }
    }
    @media (max-width: 39.9em) {
        .callout {
            margin: 2em 0 0;
        }
    }
    .set-preview {
        width: 100%;
        padding: 1em 0;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
        }
    }
    .set-project {
        padding: 1.5em 1em 2em;
        border-bottom: 1px solid lighten($purple, 35%);
    }
    .set-title {
        font: {
            weight: 500;
            size: 24px;
        };
        letter-spacing: 5px;
        color: $purple;
    }
    .section-title {
        display: inline-block;
        font: {
            weight: 700;
            size: 16px;
        };
        padding: .25em .5em;
        background-color: $purple;
        letter-spacing: 5px;
        color: white;
        text-transform: uppercase;
    }
    .download-button {
        transition: all 250ms ease;
        display: inline-block;
        background-color: transparent;
        border: 1px solid $purple;
        font-size: 14px;
        padding: 0em 2em;
        text-decoration: none;
        color: $purple;
        padding: .75em 1.5em;
        margin-top: 2em;
        letter-spacing: 3px;
        &:hover {
            color: white;
            background-color: $purple;
        }
    }
    .see-more-links {
        float: right;
    }
}

#footer {
    font-size: 14px;
    color: $purple;
}