*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 60rem;
    width: 90%;
}

.column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
}

.hide-for-small {
    @media (max-width: 40.0em) {
        display: none;
    }
}

.show-for-small {
    @media (max-width: 40em) {
        display: block;
    }
    @media (min-width: 40em) {
        display: none;
    }
}

@media (max-width: 39.9em) {
    .small-full {
        width: 100%;
    }
    .small-two-thirds {
        width: 66.7%;
    }
    .small-half {
        width: 50%;
    }
    .small-third {
        width: 33.3%;
    }
    .small-fourth {
        width: 25%;
    }
    .small-flow-opposite {
        float: right;
    }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .medium-half {
        width: 50%;
    }
    .medium-third {
        width: 33.3%;
    }
    .full {
        width: 100%;
    }
}

@media (min-width: 63.9376em) {
    .full {
        width: 100%;
    }
    .two-thirds {
        width: 66.7%;
    }
    .half {
        width: 50%;
    }
    .third {
        width: 33.3%;
    }
    .fourth {
        width: 25%;
    }
    .flow-opposite {
        float: right;
    }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@media (min-width: 40rem) {
    .column.flow-opposite {
        float: right;
    }
}